* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Open sans", sans-serif;
    margin: 0 auto;
    max-width: 960px;
}

header,
footer {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em;
}

header {
    flex-flow: column wrap;
}

#currentDate {
    background-color: #14213d;
    text-align: center;
    padding: 0.3em;
    margin-bottom: 5px;
    border: 1px solid #eee;
    font-size: 0.8em;
    color: #fff;
}

header h1,
h2 {
    margin: 0;
}

h1 {
    font-size: 1.4em;
    padding: 0.4em 0 0 0;
    font-family: "Source Serif 4", sans-serif;
    text-align: center;
}

h2 {
    padding: 0 0 0.5em 0;
    font-family: "Source Serif 4", sans-serif;
    font-size: 1em;
}

h3,
h4,
h5 {
    font-family: "Open sans", sans-serif;
    letter-spacing: 3px;
}

h4,
h5 {
    font-size: 1em;
}

hr {
    height: 2px;
    background-color: #799bf7;
    border: none;
}

header,
nav,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

header img {
    height: 80px;
    padding: 0.5em;
}


/*----------- NAVIGATION --------------*/

nav {
    background-image: linear-gradient(#073ef5, #799bf7);
}

nav button {
    margin: 0.2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 5px 10px #333;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: 0.5rem 2vw;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}

nav ul li a:hover {
    background-color: #3e5c76;
    color: #ffffff;
}

nav ul li.active a {
    background-color: #f2cc8f;
    color: #000000;
    margin: 0;
}

a {
    color: #e85d04;
    text-decoration: none;
    font-family: "Open sans", sans-serif;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}

nav ul div {
    text-align: center;
    padding: 0.5em 0;
}

nav ul div img:hover {
    filter: drop-shadow(1px 1px 2px #012447);
}

.icon {
    width: 25px;
}


/*----------- MAIN --------------*/

main {
    display: block;
    text-align: center;
}

main section {
    padding: 1em;
    margin: 0.5em;
    height: 5em;
    border: 1px solid #eee;
    background-color: #e9e7e7;
}

main section.placeholder {
    height: auto;
}

main section h3 {
    text-align: left;
}

.align-left {
    text-align: left;
}

.bold {
    font-weight: 700;
}


/*----------- FOOTER --------------*/

footer {
    background-color: #7cbbf3;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 0.8em;
    text-align: center;
}

footer div {
    margin: 0.5em;
}

footer img {
    height: 50px;
    margin-bottom: 10px;
}

.student-info {
    font-size: 0.7em;
}

.my_name {
    letter-spacing: 2px;
    font-size: 1.2em;
}