* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Open sans", sans-serif;
    margin: 0 auto;
    max-width: 960px;
}

header,
footer {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em;
}

header {
    flex-flow: column wrap;
}

header h1,
h2 {
    margin: 0;
}

h1 {
    font-size: 1.5em;
    padding: 0.4em 5px 5px 0;
    font-family: "Source Serif 4", sans-serif;
    text-align: center;
}

h2 {
    padding: 0 0 0.5em 0;
    font-family: "Source Serif 4", sans-serif;
}

h3,
h4,
h5 {
    font-family: "Open sans", sans-serif;
    letter-spacing: 3px;
}

h4,
h5 {
    font-size: 1em;
}

hr {
    height: 2px;
    background-color: #799bf7;
    border: none;
}

header,
nav,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

header picture img {
    height: 80px;
    padding: 0.5em;
}


/*----------- NAVIGATION --------------*/

nav {
    background-image: linear-gradient(#073ef5, #799bf7);
}

nav button {
    margin: 0.2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #3e5c76;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-shadow: 0px 2px 2px #333;
}

nav ul li a {
    display: block;
    color: #eee;
    padding: 0.5rem 2vw;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
}

nav ul li a:hover {
    background-color: #3e5c76;
    color: #ffffff;
}

nav ul li.active a {
    background-color: #f2cc8f;
    color: #000000;
    margin: 0;
}

a {
    color: #e85d04;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}

#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}


/*----------- DATE --------------*/

.date-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
}

#currentDate {
    background-color: #fff;
    justify-self: center;
    padding: 0.5em 1em;
    border-radius: 5px 5px 0 0;
    border: 2px dotted #3e5c76;
    font-size: 0.8em;
    color: #000;
}

.social {
    justify-self: flex-end;
    padding: 0 0.5em;
    margin: 2px;
    align-self: center;
}

.social img:hover {
    filter: drop-shadow(1px 1px 2px #3e5c76);
}

.icon {
    width: 25px;
}


/*----------- MAIN --------------*/

main {
    display: block;
    text-align: center;
}


/*----------- MESSAGE --------------*/

.announcement {
    display: block;
    background-color: #799bf7;
    padding: 1rem;
    color: #fff;
    letter-spacing: 2px;
}

.show {
    display: block;
}

.hide {
    display: none;
}


/*----------- w06 HERO SRC IMAGE----------*/

.herosrc img {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}


/*----------- MAIN SECTION --------------*/

main section {
    padding: 1em;
    margin: 0.5em;
    border: 1px solid #eee;
    background-color: #e9e7e7;
    font-weight: 550;
    height: 100%;
    text-align: left;
}

main section a {
    letter-spacing: 0;
}

section h2 {
    text-align: center;
    font-size: 1.2rem;
    font-family: "Open sans", sans-serif;
}

section h3 {
    font-size: 0.9rem;
}

section.placeholder h3 {
    font-size: 1.2rem;
}

.align-left {
    text-align: left;
}

.bold {
    font-weight: 700;
}


/*-- HERO MAIN SECTION -- */

.hero {
    background-image: url("../images/mainpict/HQSQ.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero-content {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 1rem 2vw;
    text-align: center;
    width: 80%;
    margin: 0.5rem 10% auto 10%;
}

.btn:active {
    box-shadow: 0 0 5px #f10404;
}

.hero-content p {
    font-size: 1.1rem;
}

section button,
.hero .btn,
.join .btn {
    background-color: #e85d04;
    border-radius: 5px;
    padding: 0.5rem 1vw;
    border: 0;
}


/*-- EVENT MAIN SECTION -- */

.event {
    padding: 0;
    text-align: center;
}

.event h4 {
    letter-spacing: 0;
    padding: 0;
    margin: 0;
}

.event h2 {
    padding-top: 1rem;
}

.event img {
    width: 30%;
    padding-bottom: 1rem;
}

.event p {
    padding: 0 10px;
}


/*-- MAIN SECTION - WEATHER -- */

section.weather {
    text-align: center;
}

.weathervalue {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
}

.tempWeather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forecast {
    margin-top: 0.4rem;
    padding: 0;
}

.weather img {
    padding-right: 5px;
    margin-top: 0.7rem;
}

.weather h2 {
    margin: 0;
}

.weather h3 {
    align-self: flex-end;
    font-size: 1.5rem;
    margin: 2rem 0 0 0.6rem;
}


/*-- JOIN MAIN SECTION -- */

.join {
    text-align: center;
}

.join button {
    display: block;
    width: 100%;
    box-shadow: 0 0 6px #e85d04;
    margin-bottom: 1rem;
}


/*-- NEWS MAIN SECTION -- */

.news h2 {
    margin-top: 0;
}


/*-- SPOTLIGHT MAIN SECTION -- */

.spotlight1 h2,
.spotlight2 h2 {
    color: #000;
    margin-top: 0;
}

.spotlight1,
.spotlight2 {
    background-image: linear-gradient(#f2b42d27, #a16f03);
    text-align: center;
    font-size: 1.1rem;
    color: #fff;
}

.spotlight1 img,
.spotlight2 img {
    width: 40%;
}


/*----------- FOOTER --------------*/

footer {
    background-color: #077ee6;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 0.8em;
    text-align: center;
}

footer div {
    margin: 0.5em;
}

footer img {
    height: 50px;
    margin-bottom: 10px;
}

.student-info {
    font-size: 0.7em;
}

.my_name {
    letter-spacing: 2px;
    font-size: 1.2em;
}